@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  font-family: 'Staatliches', sans-serif;
  background-color: azure;
  color: #130303;
}

h1{
  font-size: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}

td{
  padding: 5px;
  font-size: 21px;
  padding-bottom: 15px;
  padding-top: 15px;
}
p{
  font-size: 14px;
  margin-top: 25px;
  font-family: 'Gill Sans';
}
th{
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.principal{
align-items: center;
text-align: center;
}

table{
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img{
  size: 100px;
}