@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  font-family: 'Staatliches', sans-serif;
  background-color: azure;
  color: #130303;
}

h1{
  font-size: 120px;
  margin-top: 15px;
  margin-bottom: 15px;
}

a{
  font-size: 16px;
}

td{
  padding: 5px;
  font-size: 21px;
  padding-bottom: 15px;
  padding-top: 15px;
}

th{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.principal{
align-items: center;
text-align: center;
}

table{
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 200px;
  height: 280px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 40px;
}

button {
  margin-top: 20px;
  padding: 30px;
  margin-right: 20px;
  margin-left: 20px;
  background: rgb(181, 248, 248);
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
}

button:hover {
  background-color: rgb(42, 218, 218); 
}